# greek.snippets
# Author: Indrajit Ghosh
#

# Greek letters

snippet ;N "\nabla" iA
\nabla
endsnippet

snippet ;a "\alpha" iA
\alpha
endsnippet

snippet ;b "\beta" iA
\beta
endsnippet

snippet ;g "\gamma" iA
\gamma
endsnippet

snippet ;G "\Gamma" iA
\Gamma
endsnippet

snippet ;d "\delta" iA
\delta
endsnippet

snippet ;D "\Delta" iA
\Delta
endsnippet
