# System style snippets
# Author: Indrajit Ghosh
#

snippet pack "\usepackage{}" b
\usepackage{$1}$0
endsnippet

snippet nc "\newcommand{}{}" b
\newcommand{$1}{$2}$0
endsnippet

snippet rnc "\renewcommand{}{}" b
\renewcommand{$1}{$2}$0
endsnippet
